<body>
	<h2>Please Enter your name(s) below:</h2>
	<form method="post" action="hands">
		<input type="text" name="player1" required autofocus>
		<input type="text" name="player2" required>
		<input type="submit" value="Next">
	</form>
</body>